{% extends "front/home.html.twig" %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
{% block main %}
    <h2>ajouter unecatégorie </h2>
    {{form_start(categoryForm)}}
        <div>
            {{form_label(categoryForm.name,'Nom')}}
            {{form_widget(categoryForm.name)}}
        </div>
        <div>
            {{form_label(categoryForm.description,'Description')}}
            {{form_widget(categoryForm.description)}}
        </div>
        
        <div class="submit">
            {{form_widget(categoryForm.submit)}}
        </div>
    {{form_end(categoryForm)}}
    <h2><a href="{{path('admin_product_list')}}"> retoure à la liste des produits</a></h2>
{% endblock %}
