<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <h2>{{product.name}}</h2>
        <p>la description du produit : {{product.description}}</p>
        <h3>le prix : {{product.price}}</h3>
        <h4>la contié en stoque : {{product.stock}}</h4>
        <h4>la catégorie de produit : {{product.category.name}}</h4>
    </article>
</body>
</html>