
{% extends "front/home.html.twig" %}
{% block main %}
    <h2>la listes des produits de notre boutique </h2>
    {% for product in products %}
        <article>
            <h3><a href="{{path('admin_show_product',{'id':product.id})}}">{{product.name}}</a></h3>
            <p>la description du produit : {{product.description}}</p>
            <h4>le prix : {{product.price}}</h4>
            <h4>la contité en stoque : {{product.stock}}</h4>
            <h5>la catégorie de produit : {{product.category.name}}</h5>
        </article>
        <h3><a href="{{path('update_product',{'id':product.id})}}">modifier le produit</a></h3>
        <h3><a href="{{path('delete_product',{'id':product.id})}}">suprimer le produit</a></h3>
        <hr>
    {% endfor %}
    <h2><a href="{{path('create_product')}}">ajouter un produit à la liste </a></h2>
{% endblock %}
